#archivos compilados
*.class
#copias de seguridad
*.zip
*.rar
/Tema_10/JavaApplication15/nbproject/private/
/Tema_10/Ejercicio1/nbproject/private/
/Tema_10/Ejercicio1/build/
/Tema_10/Ejercicio2/nbproject/private/
/Tema_10/Ejercicio2/build/
/Tema_10/Ejercicio3/nbproject/private/
/Tema_10/Ejercicio3/build/
/Tema_10/Ejercicio4/nbproject/private/
/Tema_10/Ejercicio4/build/
/Tema_10/Ejercicio5/nbproject/private/
/Tema_10/Ejercicio5/build/
/PruebaEjercicioExamenProg_2015_2016__t3c1_b/nbproject/private/
/EjercicioExamen/nbproject/private/
/Tema_10/EjercicioExamen/nbproject/private/
/Tema_10/EjercicioExamen/build/